body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color:red;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}






.navbar {
    background-color: #fdfafa23;
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    height: 60px; /* Set a height for the navbar */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px; /* Add some spacing between the list items */
}

.navbar ul li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #e72020;
    color:white;
    transform: scale(1.2);
}